
body{

    height: 100vh;
    width: 100vw;
    display: flex;


    margin: 0;
    font-family: "Anta", sans-serif;

}

.huh h1{
    color: red;
    position: absolute;
    left: 40vw;
    margin: 0;
    opacity: 1;
}

.motto h2{
    color: red;
    position: absolute;
    top:20vh;
    left: 40vw;
    margin: 0;
    opacity: 1;
}

.link{
    color: red;
    position: absolute;
    top:20vh;
    left: 40vw;
    margin: 0;
    opacity: 1;
}
