
body{

    height: 100vh;
    width: 100vw;
    display: flex;
    image: url("images/download.jfif");
    margin: 0;
    font-family: "Anta", sans-serif;

}

.huh h1{
    color: red;
    position: absolute;
    left: 40px;
    margin: 0;
    opacity: 1;
}

.motto h2{
    color: red;
    position: absolute;
    top:30px;
    left: 46px;
    margin: 0;
    opacity: 1;
}

.links a{
    align:center;
    color: red;
    text-decoration: none;
    position: absolute;
    top:37px;
    left: 10px;
    margin: 0;
    opacity: 1;
}

.links2 a{
    color: red;
    text-decoration: none;
    position: absolute;
    top:37px;
    left: 30px;
    margin: 0;
    opacity: 1;
}
.links3 a{
    color: red;
    text-decoration: none;
    position: absolute;
    top:37px;
    left: 48px;
    margin: 0;
    opacity: 1;
}
.links4 a{
    color: red;
    text-decoration: none;
    position: absolute;
    top:37px;
    left: 70px;
    margin: 0;
    opacity: 1;
}

.founder{
    position: absolute;
    bottom: 20px;
    left: 10px;
    width:100px;
    height:100px;
}

.founder-text{
    position: absolute;
    bottom: 20px;
    left: 180px;
}
