*{

}

body
{
    background-color: DarkSeaGreen;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.search
{
    height: 50px;

    position: relative;
}

.search .btn
{
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 24px;
    background-color: white;
    border: 0;
    height: 80px;
    width: 85px;
    cursor: pointer;
    transition: transform 3s ease;
}

.search .input
{
    background-color: white;
    border: 0;
    font-size: 18px;
    height: 50px;
    width: 50px;
    padding: 15px;
    transition: width 3s ease;
}

.search .input:focus
{
   outline: none;
}

.search.active .input
{
    width: 200px;
}

.search.active .btn
{
    transform: translateX(198px);
}
.nav{
    position: fixed;
    background-color: #4f8f4f;
    top: 0;
    left:0;
    right: 0;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.nav h1{
    color:green;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.nav .container_links{
    text-align: center;
    justify-content:space-between;
    top: 55vh;
    padding:20px 0;
    transition: all 0.3s ease-in-out;
}

.nav a{
    color: #88eb88;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}
