@import url('https://fonts.googleapis.com/css2?family=Anta&family=Micro+5&display=swap');

*{
    box-sizing: border-box;
}

body{

    height: 100vh;
    display: flex;
    background-color: Aquamarine;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Anta", sans-serif;

}

.btn{
    height: 10vh;
    margin: 0.5px;
    width: 13vw;
    background-color: seagreen;

}
.nav{
    position: fixed;
    background-color: #3fb08a;
    top: 0;
    left:0;
    right: 0;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    z-index: 100;
}
.nav h1{
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 100;
}
.nav .container_links{
    text-align: center;
    justify-content:space-between;
    top: 55vh;
    padding:20px 0;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
