@import url('https://fonts.googleapis.com/css2?family=Anta&family=Micro+5&display=swap');

*{
    box-sizing: border-box;
}

body{

    height: 100vh;
    display: flex;
    background-color: Aquamarine;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Anta", sans-serif;

}

.btn{
    height: 10vh;
    margin: 0.5px;
    width: 13vw;
    background-color: seagreen;

}
